:root{
    --font-size: 16px;
    --orange-colour: orange;
}

.c{
 background-color: var(--orange-colour); 

}

.c-wrapper{
    display: flex;
    height: 100vh;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eceff1;

}

.c-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: default;

}

.c-left-wrapper{
    /* background-color: beige;  */
    display: flex;  
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2em;
    padding-left: 0;

}

.c-left-title{
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

.c-item{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color:burlywood; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.c-right-title{
    font-size: 0.8em;
    margin-bottom: 2em;
    letter-spacing: 0.08em;
    cursor: default;

}

.c-right-wrapper{
    /* background-color: blueviolet; */
    display: flex;  
    flex-direction: column; 
    flex-wrap: wrap;
    padding: 3em;

}

.c-item-icon{
    height: 25px;
    width: 25px;
    margin-right: 1em;
}

.title-light{
    font-weight: 300;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input{
    height: 3em;
    width: 50%;
    margin-bottom: 1.2em;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.2em;

}
input:focus{
    outline: none;
    border-bottom: 1.5px solid var(--orange-colour);
}

textarea{
    height: 7em;
    width: 96%;
    padding: 0.5em;
    border: 1px solid black;
}

textarea:focus{
    outline: none;
    border: 1.5px solid var(--orange-colour);
}

button{
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 3%;
    width: 25%;
    background-color: var(--orange-colour);
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 157, 0);
}

/* width: 820 */