:root {
    --orange-colour: orange;
    --font-size: 16px;
    --gray-colour: #263238;
    --background-colour: #f9fbfc;
    --clr-travel: #ef257a;
    --clr-technology: #651fff;
    --clr-personal: #e85808;
}


.i{
    display: flex;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--background-colour);
    cursor: default;

}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
}

.i-right-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.i-left-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.i-name{
    font-size: 60px;
    margin: 0;
}

.i-title{
    height: 70px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item{
    height: 2em;
    font-size: 2em;
    font-weight: bold;
    color: var(--orange-colour);
    display: flex;
    align-items: center;
}

.i-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.i-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    transition: transform .2s;
}

.i-img:hover{
    transform: scale(1.5)
}

.i-bg{
    clip-path: polygon(62% 68%, 100% 0%, 100% 100%, 0 100%, 86% 88%);
    background-color: var(--orange-colour);
    height: 100%;
    width: 100%;
    position: absolute;

}
