.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2em;
    width: 100%;
    z-index: 100;
}

.Navbar{
    background-color: rgb(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    border-radius: 3rem;
    padding: 1.5em 2em;
    display: flex;
    gap: 2rem;
    backdrop-filter: blur(15px);
}

.Navbar > a{
    list-style: none;
    color: #f9fbfc;
    padding: 1rem 1.1rem;
    font-size: 1.5em;
    border-radius: 50%;
    transition: transform .2s;
}

.active{
    background-color: rgba(255, 255, 255, 0.291); 
    color: white;
}

.Navbar > a:hover{
    color: white;
    transform: scale(1.1);
}